* {
    margin: 0;
    padding: 0;

}

.app {
    /*width: 100vh;*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #312e2b;
}

.board {
    width: calc(74px * 8);
    height: calc(74px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 70px;
    height: 70px;
    position: relative;
}

.black {
    background-color: deepskyblue;
}

.white {
    background-color: #eed4ac;
}

.selected {
    background-color: #ffef25;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #40c240;
}

.lost {
    height: 236px;
    padding: 30px;
    background-color: lightgray;
}
.lostWrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    height: 15px;
    width: 80px;

}
.timerWrapper{
    height: 532px;
    padding: 30px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeWrap{
    display: flex;
    /*border: 2px solid;*/
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

.timeWrap img{
    margin-right: 15px;
}

.time{
    font-weight: bold;
    font-size: 23px;
    color: #b787b7;
}

button{
    padding: 10px 10px;
    margin-top: 170px;
    margin-bottom: 170px;
    background-color: #eec2ee;
    color: #803a80;
    border: 1px solid #5e0f5e;
    font-weight: bold;
}

.title{
    font-weight: bold;
    color: #803a80;
    font-size: 25px;
}